.fs-date-picker-trigger {
  margin-right: 5px;
  user-select: none;

  mat-icon {
    cursor: pointer;
    font-size: 21px !important;
    height: 24px;
    margin-bottom: 2px;
  }
}

.disabled {
  color: rgba(0, 0, 0, 0.38);
  pointer-events: none;
}
