.fs-date-picker-trigger {
  margin-right: 5px;
  user-select: none;

  mat-icon {
    cursor: pointer;
    font-size: 21px !important;
    height: 24px;
  }
}

.disabled {
  color: rgba(0, 0, 0, 0.38);
  pointer-events: none;
}



::ng-deep {
  .mat-form-field {
    &.mat-form-field-appearance-legacy, 
    &.mat-form-field-appearance-standard {

      .fs-date-picker-trigger {
        mat-icon {
          position: relative;
          top: 4px;
        }
      }

        // .mat-form-field-appearance-outline {
              
        // }
    }
  }
}

