.fs-date-picker-view-date {
  .mat-mdc-form-field-infix {
    width: 85px;
  }
}

.fs-date-picker-view-time {
  .mat-mdc-form-field-infix {
    width: 70px;
  }
}

.fs-date-picker-view-datetime {
  .mat-mdc-form-field-infix {
    width: 150px;
  }
}