<div class="time-container">
  <div class="wraper">
    <ng-container *ngIf="!expanded">
      <div class="hours-group">
        <div class="lbl">Hour</div>
        <div class="hours">
          <table>
            <tbody *ngFor="let group of timeHoursCollapsed; let i = index">
              <tr *ngFor="let hours of group">
                <td *ngFor="let hour of hours" class="hour" (click)="hourClick(hour)" [ngClass]="{ disabled: disabledTimeHours[hour], selected: hour == selected.hour }">
                  <div class="number">
                    <span *ngIf="hour < 12">{{ hour ? hour : 12 }}<span class="am-pm">am</span></span>
                    <span *ngIf="hour >= 12">{{ hour==12 ? 12 : hour-12 }}<span class="am-pm">pm</span></span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="minutes">
        <div class="lbl">Minute</div>
        <table>
          <tr *ngFor="let minutes of timeMinutesCollapsed">
            <td *ngFor="let minute of minutes" class="minute"
            [ngClass]="{ disabled: disabledTimeMinutes[minute] || (disabledGroupedMinutes[selected.hour] && disabledGroupedMinutes[selected.hour][minute]), selected: minute == selected.minute }"
            (click)="minuteClick(minute)">
              <div class="number">{{ minute }}</div>
            </td>
          </tr>
        </table>
        <a (click)="expanded = true" class="button-expand">More</a>
      </div>
    </ng-container>
    <ng-container *ngIf="expanded">
      <div class="hours">
        <div class="lbl">Hour</div>
          <table>
            <tr *ngFor="let hours of timeHoursExpanded">
              <td *ngFor="let hour of hours" class="hour" (click)="hourClick(hour)" [ngClass]="{ disabled: disabledTimeHours[hour], selected: hour == selected.hour }">
                <div class="number">
                  <span *ngIf="hour < 12">{{ hour ? hour : 12 }}<span class="am-pm">am</span></span>
                  <span *ngIf="hour >= 12">{{ hour==12 ? 12 : hour-12 }}<span class="am-pm">pm</span></span>
                </div>
              </td>
          </tr>
        </table>
      </div>
      <div class="minutes">

        <div class="lbl">Minute</div>
        <table>
          <tr *ngFor="let minutes of timeMinutesExpanded">
            <td *ngFor="let minute of minutes" class="minute"
            [ngClass]="{ disabled: disabledTimeMinutes[minute] || (disabledGroupedMinutes[selected.hour] && disabledGroupedMinutes[selected.hour][minute]), selected: minute == selected.minute }"
            (click)="minuteClick(minute)">
              <div class="number">{{ minute }}</div>
            </td>
          </tr>
        </table>
        <a (click)="expanded = false" class="button-expand">Less</a>
      </div>
    </ng-container>

  </div>
</div>
