:host {

  @media only screen and (max-width: 737px) {
    margin-left: 0;
  }
}


thead th {
  text-align: left;
  padding-left: 7px;
}

tbody {
  .minutes-col,
  .hours-col {
    padding: 0;
  }
}

.time-container {
  width: 100%;

  .wraper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .hours-group {
    display: flex;
    flex-direction: column;
  }

  .am-pm {
    font-size: 13px;
    padding-left: 2px;
  }
}


@media only screen and (min-width: 737px) {
  .time-container {

    .hours-col tbody,
    .minutes-col tbody {
      max-height: 300px;
      overflow: auto;
      display: block;
    }
  }
}