<div class="date" *ngIf="['date', 'datetime'].indexOf(fsDatePickerModel.view) !== -1">
  <div class="months" *ngIf="fsDatePickerModel.dateMode == 'month'">
    <div *ngFor="let month of monthList" (click)="monthViewChange(month.value)" class="month" [ngClass]="{ today: today.month == month.value, selected: selected.month == month.value }">{{ month.abr }}</div>
  </div>
  <div class="years" *ngIf="fsDatePickerModel.dateMode == 'year'" fsIscroll fsOptions="iscrollOptions" fsInstance="iscrollInstance">
    <div class="iscroll-scroller">
      <div *ngFor="let year of years" class="year" [ngClass]="{ today: today.year==year, row : ($index % 4 == 0), selected: selected.year==year }" (click)="yearViewChange(year)">
          {{year}}
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div *ngIf="fsDatePickerModel.dateMode == 'date'" class="calendar">
    <div class="month-year">
      <a class="month-name" (click)="monthView(month)">{{month.name}}</a>
      <a class="year-name" (click)="yearView(month.year)">{{month.year}}</a>
      <a (click)="yearView(month.year)" class="more"><mat-icon>arrow_drop_down</mat-icon></a>
      <div class="actions">
        <a (click)="previousMonth(month)"><mat-icon>navigate_before</mat-icon></a>
        <a (click)="nextMonth(month)"><mat-icon>navigate_next</mat-icon></a>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>Sun</th>
          <th>Mon</th>
          <th>Tues</th>
          <th>Wed</th>
          <th>Thurs</th>
          <th>Fri</th>
          <th>Sat</th>
        </tr>
      </thead>
      <tbody class="calendar calendar-{{month.date}}">
        <tr class="week" *ngFor="let week of month.weeks">
          <td *ngFor="let day of week" class="day" [ngClass]="{ today: today.date==day.date, mute: day.mute, selected: day.date==selected.date && !day.mute, disabled: day.disabled }" (click)="dayClick(day)">
            <span>{{day.number}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
