<form>
  <mat-form-field appearance="fill" class="timezones">
    <mat-label>Calendar Time Zone</mat-label>
    <mat-select [(ngModel)]="selectedTimeZone" name="tz">
      <mat-option *ngFor="let tz of timezones" [value]="tz.name">
        {{ tz.currentTimeFormat}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <mat-form-field>
    <input
        matInput
        fsDateTimePicker
        fsFormRequired
        [format]="format"
        [(ngModel)]="model"
        [timezone]="selectedTimeZone"
        name="datetimepicker"
        placeholder="Date Time">
      <mat-hint>UTC: {{model?.toUTCString()}}</mat-hint>
  </mat-form-field>

  <br>
  <br>

  <mat-form-field>
    <input
        matInput
        fsDateTimeRangeFromPicker="datetimerangepickertz"
        [(ngModel)]="startDateTimeDate"
        [timezone]="selectedTimeZone"
        [format]="format"
        name="dateTimeFrom"
        placeholder="Date Range From"
        fsFormRequired>
      <mat-hint>UTC: {{startDateTimeDate?.toUTCString()}}</mat-hint>
  </mat-form-field>

  <fs-date-range-separator></fs-date-range-separator>

  <mat-form-field>
    <input
      matInput
      fsDateTimeRangeToPicker="datetimerangepickertz"
      [(ngModel)]="endDateTimeDate"
      [timezone]="selectedTimeZone"
      [format]="format"
      name="dateTimeTo"
      placeholder="Date Range To"
      fsFormRequired>
    <mat-hint>UTC: {{endDateTimeDate?.toUTCString()}}</mat-hint>
  </mat-form-field>
</form>
