<form>
  <fs-label-field>
    <fs-label>Origin Date UTC +00:00</fs-label>
    {{ todayMonth }}/{{ todayDay }}/{{ todayYear }} 00:00
  </fs-label-field>

  <mat-form-field appearance="fill" class="timezones">
    <mat-label>Calendar Time Zone</mat-label>
    <mat-select [(ngModel)]="selectedTimeZone" name="tz">
      <mat-option *ngFor="let tz of timezones" [value]="tz.name">
        {{ tz.currentTimeFormat}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <mat-form-field>
    <input
      matInput
      fsDateTimePicker
      fsFormRequired
      format="MMM d, yyyy h:mm aa OOOO"
      [(ngModel)]="model"
      [timezone]="selectedTimeZone"
      name="datetimepicker"
      placeholder="Date Time">
  </mat-form-field>

  <br>

  <mat-form-field>
    <input
      matInput
      fsDateTimeRangeFromPicker="datetimerangepickertz"
      [(ngModel)]="startDateTimeDate"
      [timezone]="selectedTimeZone"
      format="MMM d, yyyy h:mm aa OOOO"
      name="date_time_from"
      placeholder="Date Range From"
      fsFormRequired>
  </mat-form-field>

  <fs-date-range-separator></fs-date-range-separator>

  <mat-form-field>
    <input
      matInput
      fsDateTimeRangeToPicker="datetimerangepickertz"
      [(ngModel)]="endDateTimeDate"
      [timezone]="selectedTimeZone"
      format="MMM d, yyyy h:mm aa OOOO"
      name="date_time_to"
      placeholder="Date Range To"
      fsFormRequired>
  </mat-form-field>
</form>
