<form fsForm>
  <div>
    <mat-form-field>
      <input matInput
             fsDatePicker
             [(ngModel)]="seedDate"
             fsFormRequired
             (change)="change($event)"
             name="seedDate"
             placeholder="Seed Date">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput
             [(ngModel)]="periodWeeks"
             (change)="change($event)"
             name="periodweeks"
             placeholder="Period Weeks">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput
             fsDateWeekPicker
             [(ngModel)]="model"
             [seedDate]="seedDate"
             [period]="periodWeeks"
             name="weekpicker"
             placeholder="Weeks Picker">
    </mat-form-field>
  </div>
</form>
