<div class="fs-date-picker-backdrop" [hidden]="!parentInstance.opened" (click)="close($event)"></div>

<div class="fs-date-picker-dialog fs-date-picker-range" tabindex="0"
     [ngClass]="{ opened: parentInstance.opened }">
  <div class="wrap">
    <div class="date-time panel">
      <mat-form-field>
        <mat-select name="month_select" placeholder="Month"
                    [(value)]="selectedDate.month"
                    (selectionChange)="changedMonth($event)">
          <mat-option *ngFor="let month of months" [value]="month">
            {{ month }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select name="day_select" placeholder="Day"
                    [(value)]="selectedDate.day"
                    (selectionChange)="changedDate($event)">
          <mat-option *ngFor="let day of days" [value]="day">
            {{ day }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select name="year_select" placeholder="Year"
                    [(value)]="selectedDate.year"
                    (selectionChange)="changedYear()">
          <mat-option *ngFor="let year of years" [value]="year">
            {{ year }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="done">
      <button type="button" mat-raised-button color="primary" (click)="close($event)">Done</button>
    </div>
  </div>
</div>
