@import '../../datepicker.scss';


.panel {
  padding: 10px 0 0 10px;

  .mat-form-field-infix {
    width: 100%;
  }

  .mat-form-field {
    width: 100px;
    margin-right: 0;
    padding: 0 10px 10px 0;
  }
}
