<form fsForm>
  <mat-form-field>
    <input
      matInput
      fsDateTimeRangeFromPicker="datetimerangepicker"
      [(ngModel)]="startDate"
      name="date_from"
      placeholder="Date Range From"
      fsFormRequired>
  </mat-form-field>

  <fs-date-range-separator></fs-date-range-separator>

  <mat-form-field>
    <input
      matInput
      fsDateTimeRangeToPicker="datetimerangepicker"
      [(ngModel)]="endDate"
      name="date_to"
      placeholder="Date Range To"
      fsFormRequired>
  </mat-form-field>
</form>
