<form fsForm>
  <mat-form-field>
    <mat-label>Date Range From</mat-label>
    <input
      matInput
      fsDateTimeRangeFromPicker="datetimerangepicker"
      [(ngModel)]="startDate"
      name="date_from"Date Range From
      fsFormRequired
      (closed)="pickerClosed()">
  </mat-form-field>

  <fs-date-range-separator></fs-date-range-separator>

  <mat-form-field>
    <mat-label>Date Range To</mat-label>
    <input
      matInput
      fsDateTimeRangeToPicker="datetimerangepicker"
      [(ngModel)]="endDate"
      name="date_to"Date Range From
      fsFormRequired
      (closed)="pickerClosed()">
  </mat-form-field>
</form>
