@import '../../datepicker.scss';


.panel {
  padding: 10px 0 0 10px;

  .mat-form-field-infix {
    width: 100%;
  }

  .mat-form-field {
    width: 100px;
    margin-right: 0;
    padding-right: 20px;
  }
}

.fs-date-picker-dialog {
  &:not(.vertical-reposition) {
    &:not(.horizontal-reposition) {
      .wrap {
        &:after, &:before {
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 19px solid #fff;
          top: -19px;
          content: '';
          position: absolute;
          transform: rotate(180deg);
          left: 23px;
        }
        &:before {
          border-left: 23px solid transparent;
          border-right: 23px solid transparent;
          border-top: 21px solid transparent;
          border-top-color: #efefef;
          top: -21px;
          left: 20px;
        }

      }
    }
  }
  //.done {
  //  display: none;
  //}
}

@media only screen and (max-width: 744px) {
  .fs-date-picker-dialog {

    &.fs-date-picker-range {
      .done {
        display: block;
      }
    }
  }
}

