<div class="fs-date-picker-dialog fs-date-picker-range" tabindex="0">
  <div class="wrap">
    <div class="scroll-pickers">
      <fs-scroll-picker
        class="month"
        [values]="months"
        name="month"
        [(ngModel)]="month"
        (ngModelChange)="changeMonth()">
        <ng-template
          fs-scroll-picker-template
          let-value="value">
          {{value.name}}
        </ng-template>
      </fs-scroll-picker>

      <fs-scroll-picker
        class="day"
        [values]="days"
        name="day"
        [(ngModel)]="day"
        (ngModelChange)="change()">
      </fs-scroll-picker>

      <fs-scroll-picker
        class="year"
        [values]="years"
        name="year"
        [(ngModel)]="year"
        (ngModelChange)="changeYear()">
      </fs-scroll-picker>
    </div>

    <div class="done">
      <button type="button" mat-button color="primary" (click)="close()">Done</button>
    </div>
  </div>
</div>
