<form>
  <div>Min Date: {{ minDate | date }}</div>
  <div>Max Date: {{ maxDate | date }}</div>

  <br><br>

  <div class="fs-row.wrap.gap-sm">
    <mat-form-field>
      <mat-label>Date</mat-label>
        <input 
        matInput
        fsDatePicker
        [(ngModel)]="data.datePicker"
        fsFormRequired
        name="datePicker"
        [minDate]="minDate"
        [maxDate]="maxDate"
        >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Full Date</mat-label>
        <input
        matInput
        fsDateScrollPicker
        [(ngModel)]="data.scrollPicker"
        name="year"
        [maxDate]="maxDate"
        [minDate]="minDate"
        >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Without day</mat-label>
        <input
        matInput
        fsDateScrollPicker
        [(ngModel)]="data.scrollPicker"
        name="year"
        [showDay]="false"
        [maxDate]="maxDate"
        [minDate]="minDate"
        >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Only Year</mat-label>
        <input
        matInput
        fsDateScrollPicker
        [(ngModel)]="data.scrollPicker"
        name="year"
        [showDay]="false"
        [showMonth]="false"
        [maxDate]="maxDate"
        [minDate]="minDate"
        >
    </mat-form-field>
  </div>
</form>
