<div
  class="fs-date-picker-dialog opened {{ 'dialog-view-' + fsDatePickerModel.view }}"
  tabindex="0"
  [ngClass]="{
    'has-view-date': fsDatePickerModel.view === 'date' || fsDatePickerModel.view === 'datetime',
    'has-view-time': fsDatePickerModel.view === 'time' || fsDatePickerModel.view === 'datetime',
    'date-mode-date': fsDatePickerModel.dateMode === 'date',
    'date-mode-month': fsDatePickerModel.dateMode === 'month',
    'date-mode-year': fsDatePickerModel.dateMode === 'year',
    'picker-tab-date': selectedDateTimeTab === 0,
    'picker-tab-time': selectedDateTimeTab === 1
  }">
  <div class="wrap">
    <mat-tab-group mat-stretch-tabs dynamicHeight
                   *ngIf="fsDatePickerModel.view === 'datetime' && mobileView; else ff"
                   (selectedIndexChange)="selectedDateTimeTabChange($event)">
      <mat-tab>
        <ng-template mat-tab-label>
          <ng-container *ngIf="model; else noDate">
            {{ model | date: 'MMM d, yyyy'}}
          </ng-container>
          <ng-template #noDate>Date Not Selected</ng-template>
        </ng-template>

        <fs-date-picker-calendar
          *ngIf="fsDatePickerModel.components.calendarStart"
          [date]="model"
          [drawMonth]="calendarMonth"
          [dateMode]="fsDatePickerModel.dateMode"
          [disabledDays]="disabledDays"
          (onChange)="setDate($event)"
          (onDateModeChange)="setDateMode($event)"
          (onDrawMonth)="calendarDrawMonth($event)"
          (monthChanged)="updateMonth($event)"
          (yearChanged)="updateYear($event)"
        ></fs-date-picker-calendar>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <ng-container *ngIf="model; else noTime">
            {{ model | date: 'h:mm'}} {{ model | date: 'aaa' | lowercase}}
          </ng-container>
          <ng-template #noTime>Time Not Selected</ng-template>
        </ng-template>

        <fs-date-picker-time
          *ngIf="fsDatePickerModel.dateMode !== 'year' && fsDatePickerModel.dateMode !== 'month'"
          [date]="model"
          [disabledTimes]="disabledTimes"
          [expanded]="timePickerExpanded"
          (onChange)="setDate($event)"
        ></fs-date-picker-time>
      </mat-tab>
    </mat-tab-group>

    <ng-template #ff>
      <div class="date-time">
        <fs-date-picker-calendar
          *ngIf="fsDatePickerModel.components.calendarStart"
          [date]="model"
          [drawMonth]="calendarMonth"
          [dateMode]="fsDatePickerModel.dateMode"
          [disabledDays]="disabledDays"
          (onChange)="setDate($event)"
          (onDateModeChange)="setDateMode($event)"
          (onDrawMonth)="calendarDrawMonth($event)"
          (monthChanged)="updateMonth($event)"
          (yearChanged)="updateYear($event)">
        </fs-date-picker-calendar>

        <ng-container
          *ngIf="fsDatePickerModel.dateMode !== 'year' && fsDatePickerModel.dateMode !== 'month'">
          <fs-date-picker-time
            *ngIf="fsDatePickerModel.view === 'datetime' || fsDatePickerModel.view === 'time'"
            [date]="model"
            [disabledTimes]="disabledTimes"
            [expanded]="timePickerExpanded"
            (onChange)="setDate($event)"
          ></fs-date-picker-time>
        </ng-container>
      </div>
    </ng-template>

    <div class="done">
      <button type="button" mat-button color="primary" (click)="close()">Done</button>
      <button type="button"
              mat-button
              class="show-more-btn"
              *ngIf="fsDatePickerModel.view === 'datetime' || fsDatePickerModel.view === 'time'"
              (click)="toggleTimeExpand()">
        <ng-container *ngIf="!timePickerExpanded; else lessMinutes">
          Show More Minutes
        </ng-container>
        <ng-template #lessMinutes>
          Show Less Minutes
        </ng-template>
      </button>
    </div>
  </div>
</div>
