@use '~@firestitch/style/styles' as fs-styles;

$selected-color: fs-styles.$palette !default;
$selected-color-opacity: .3 !default;

$hover-color: fs-styles.$palette !default;
$hover-color-opacity: 0.3;

$now-color: fs-styles.$palette !default;
$now-color-opacity: 0.5 !default;


