<form fsForm style="    height: 80vh;">
  <div>
    <mat-form-field style="width: 100%">
      <input
        matInput
        fsDateTimePicker
        fsFormRequired
        [(ngModel)]="model"
        name="datetimepicker"
        placeholder="Date Time"
        (closed)="pickerClosed()">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field style="    margin-left: 0px;">
      <input
        matInput
        fsDateTimePicker
        fsFormRequired
        [(ngModel)]="model"
        name="datetimepicker"
        placeholder="Date Time"
        (closed)="pickerClosed()">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field style="    margin-left: 100px;">
      <input
        matInput
        fsDateTimePicker
        fsFormRequired
        [(ngModel)]="model"
        name="datetimepicker"
        placeholder="Date Time"
        (closed)="pickerClosed()">
    </mat-form-field>
  </div>


  <div>
    <mat-form-field style="    margin-left: 140px;">
      <input
        matInput
        fsDateTimePicker
        fsFormRequired
        [(ngModel)]="model"
        name="datetimepicker"
        placeholder="Date Time"
        (closed)="pickerClosed()">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field style="    margin-left: 200px;">
      <input
        matInput
        fsDateTimePicker
        fsFormRequired
        [(ngModel)]="model"
        name="datetimepicker"
        placeholder="Date Time"
        (closed)="pickerClosed()">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field style="    margin-left: 500px;">
      <input
        matInput
        fsDateTimePicker
        fsFormRequired
        [(ngModel)]="model"
        name="datetimepicker"
        placeholder="Date Time"
        (closed)="pickerClosed()">
    </mat-form-field>
  </div>


  <div style="position: absolute; bottom: 0">
    <div>
      <mat-form-field style="margin-left: 0">
        <input
          matInput
          fsDateTimePicker
          fsFormRequired
          [(ngModel)]="model"
          name="datetimepicker"
          placeholder="Date Time"
          (closed)="pickerClosed()">
      </mat-form-field>

      <mat-form-field style="margin-left: 550px">
        <input
          matInput
          fsDateTimePicker
          fsFormRequired
          [(ngModel)]="model"
          name="datetimepicker"
          placeholder="Date Time"
          (closed)="pickerClosed()">
      </mat-form-field>
    </div>
  </div>


</form>
