<div class="calendar-container">
  <div class="months" *ngIf="dateMode == 'month'">
    <div *ngFor="let month of monthList" (click)="monthViewChange(month.value)" class="month"
         [ngClass]="{ today: today.month == month.value, selected: selected.month == month.value, disabled: month.disabled }">
      {{ month.abr }}
    </div>
  </div>
  <div class="years" *ngIf="dateMode == 'year'">
    <div *ngFor="let year of years; let index = i" class="year data-year-{{ year.value }}"
          [ngClass]="{ today: today.year==year.value, selected: selected.year==year.value, disabled: year.disabled }"
          (click)="yearViewChange(year.value)">
      {{ year.value }}
    </div>
    <div class="clear"></div>
  </div>
  <div *ngIf="(dateMode == 'week' || dateMode == 'date') && month" class="calendar">
    <div class="month-year">
      <a class="month-name" (click)="monthView()">{{month.name}}</a>
      <a class="year-name" (click)="yearView(month.year)">{{month.year}}</a>
      <div class="gap"></div>
      <div class="actions">
        <a (click)="previousMonth(month)">
          <mat-icon>navigate_before</mat-icon>
        </a>
        <a (click)="nextMonth(month)">
          <mat-icon>navigate_next</mat-icon>
        </a>
      </div>
    </div>
    <table>
      <thead>
      <tr>
        <th *ngIf="seedDate && periodWeeks">#</th>
        <th *ngFor="let wd of weekDaysList">{{wd}}</th>
      </tr>
      </thead>
      <tbody class="calendar calendar-{{ month.monthAndYear }}" >
      <tr class="week"
          *ngFor="let week of month.weeks"
          [ngClass]="{
            'first-period-week': week.firstWeekInPeriod,
            'last-period-week': week.lastWeekInPeriod,
            'hover': week.period?.mouseOver
          }"
          (mouseenter)="mouseEnterWeek(week)"
          (mouseleave)="mouseLeaveWeek(week)"
      >
        <ng-container *ngIf="week.periodLableVisible">
          <td class="period"
              [rowSpan]="week.period.countOfWeeks"
              [ngClass]="{
                selected: week.period.selected
              }"
              (click)="selectPeriod(week.period)"
          >
            {{ week.period.periodId }}
          </td>
        </ng-container>

        <ng-container *ngFor="let day of week.days">
          <td class="tile day"
              [ngClass]="{
                today: today.date==day.date,
                mute: day.mute,
                selected: (day.selected || (day.date==selected.date || highlightedRangeDays.data[day.date]) && !day.mute),
                'min-date': day.date === highlightedRangeDays.min,
                'max-date': day.date === highlightedRangeDays.max,
                'week-mode': dateMode === 'week',
                disabled: day.disabled
              }"
              (click)="dayClick(day, week, $event)"
              (mouseenter)="onMouseEnterDay(day)">
            {{ day.number }}
            <span class="today" *ngIf="today.date==day.date">TODAY</span>
          </td>
        </ng-container>
      </tr>
      <tr *ngIf="month.weeks.length<6">
        <td colspan="7" class="tile"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
