<form>
  <div fxLayout="row wrap" fxLayoutGap="10px">
    <mat-form-field>
      <input
        matInput
        fsDateScrollPicker
        [(ngModel)]="standard"
        (closed)="pickerClosed()"
        name="standard"
        placeholder="Standard Scroll Picker">
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        fsDateScrollPicker
        [showYear]="false"
        [(ngModel)]="monthDay"
        (closed)="pickerClosed()"
        name="month-day"
        placeholder="Month & Day Scroll Picker">
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        fsDateScrollPicker
        [showDay]="false"
        [(ngModel)]="monthYear"
        (closed)="pickerClosed()"
        name="month-year"
        placeholder="Month & Year Scroll Picker">
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        fsDateScrollPicker
        [showDay]="false"
        [showYear]="false"
        [(ngModel)]="month"
        (closed)="pickerClosed()"
        name="month"
        placeholder="Month Scroll Picker">
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        fsDateScrollPicker
        [showDay]="false"
        [showMonth]="false"
        [(ngModel)]="year"
        (closed)="pickerClosed()"
        name="year"
        placeholder="Year Scroll Picker">
    </mat-form-field>
  </div>
</form>
