<form>
  <div class="fs-row.wrap.gap-sm">
    <mat-form-field>
      <mat-label>Standard Scroll Picker</mat-label>
      <input
        matInput
        fsDateScrollPicker
        [maxYear]="null"
        [(ngModel)]="standard"
        (closed)="pickerClosed()"
        name="standard">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Month & Day Scroll Picker</mat-label>
      <input
        matInput
        fsDateScrollPicker
        [showYear]="false"
        [(ngModel)]="monthDay"
        (closed)="pickerClosed()"
        name="monthDay">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Month & Year Scroll Picker</mat-label>
      <input
        matInput
        fsDateScrollPicker
        [showDay]="false"
        [(ngModel)]="monthYear"
        (closed)="pickerClosed()"
        name="monthYear">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Month Scroll Picker</mat-label>
      <input
        matInput
        fsDateScrollPicker
        [showDay]="false"
        [showYear]="false"
        [(ngModel)]="month"
        (closed)="pickerClosed()"
        name="month">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Year Scroll Picker</mat-label>
      <input
        matInput
        fsDateScrollPicker
        [showDay]="false"
        [showMonth]="false"
        [(ngModel)]="year"
        (closed)="pickerClosed()"
        name="year">
    </mat-form-field>
  </div>
</form>
