<div class="fs-date-picker-backdrop" (click)="close($event)"></div>

<div class="fs-date-picker-dialog opened {{ 'dialog-view-' + fsDatePickerModel.view }}" tabindex="0"
[ngClass]="{
  'has-view-date': fsDatePickerModel.view === 'date' || fsDatePickerModel.view === 'datetime',
  'has-view-time': fsDatePickerModel.view === 'time' || fsDatePickerModel.view === 'datetime',
  'date-mode-date': fsDatePickerModel.dateMode === 'date',
  'date-mode-month': fsDatePickerModel.dateMode === 'month',
  'date-mode-year': fsDatePickerModel.dateMode === 'year',
  'picker-tab-date': selectedDateTimeTab === 0,
  'picker-tab-time': selectedDateTimeTab === 1
 }">
  <div class="wrap">

    <!--<div *ngIf="fsDatePickerModel.view === 'datetime'" class="header">
      <fs-date-picker-summary
        [startDate]="model"
        [range]="false"
        (componentsChange)="setComponents($event)"></fs-date-picker-summary>
    </div>-->

    <mat-tab-group mat-stretch-tabs dynamicHeight
                   *ngIf="fsDatePickerModel.view === 'datetime' && mobileView"
                   (selectedIndexChange)="selectedDateTimeTabChange($event)"
    >
      <mat-tab>
        <ng-template mat-tab-label>
          {{ model | date: 'MMM d, yyyy'}}
        </ng-template>

        <fs-date-picker-calendar
          *ngIf="fsDatePickerModel.components.calendarStart"
          [date]="model"
          [drawMonth]="calendarMonth"
          [dateMode]="fsDatePickerModel.dateMode"
          [disabledDays]="disabledDays"
          (onChange)="setDate($event)"
          (onDateModeChange)="setDateMode($event)"
          (onDrawMonth)="calendarDrawMonth($event)"
        ></fs-date-picker-calendar>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          {{ model | date: 'h:mm'}} {{ model | date: 'aaa' | lowercase}}
        </ng-template>

        <fs-date-picker-time
          *ngIf="fsDatePickerModel.view === 'time' || fsDatePickerModel.view === 'datetime'"
          [date]="model"
          [disabledTimes]="disabledTimes"
          [expanded]="timePickerExpanded"
          (onChange)="setDate($event)"
        ></fs-date-picker-time>
      </mat-tab>
    </mat-tab-group>

    <div class="date-time" *ngIf="fsDatePickerModel.view !== 'datetime' || !mobileView">
      <fs-date-picker-calendar
        *ngIf="fsDatePickerModel.components.calendarStart"
        [date]="model"
        [drawMonth]="calendarMonth"
        [dateMode]="fsDatePickerModel.dateMode"
        [disabledDays]="disabledDays"
        (onChange)="setDate($event)"
        (onDateModeChange)="setDateMode($event)"
        (onDrawMonth)="calendarDrawMonth($event)"
      ></fs-date-picker-calendar>

      <fs-date-picker-time
        *ngIf="fsDatePickerModel.view === 'time' || fsDatePickerModel.view === 'datetime'"
        [date]="model"
        [disabledTimes]="disabledTimes"
        [expanded]="timePickerExpanded"
        (onChange)="setDate($event)"
      ></fs-date-picker-time>
    </div>

    <div class="done">
      <button type="button" mat-button color="primary" (click)="close($event)">Done</button>
      <button type="button"
              mat-button
              class="show-more-btn"
              *ngIf="fsDatePickerModel.view === 'datetime' || fsDatePickerModel.view === 'time'"
              (click)="toggleTimeExpand()"
      >
        <ng-container *ngIf="!timePickerExpanded; else lessMinutes">
          Show More Minutes
        </ng-container>
        <ng-template #lessMinutes>
          Show Less Minutes
        </ng-template>
      </button>
    </div>
  </div>
</div>
