:host .summary {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-bottom: 1px solid #efefef; }
  :host .summary.summary-time {
    font-size: 15px; }
  :host .summary > div {
    cursor: pointer;
    display: inline-block;
    padding: 5px; }
    :host .summary > div:hover, :host .summary > div.active {
      background: rgba(70, 120, 174, 0.15); }
