<div *ngIf="formattedStartDate || formattedEndDate" class="summary">
  <ng-container *ngIf="formattedStartDate">
    <div
      (click)="onComponentsChange({ calendarStart: true, calendarEnd: true })"
      [ngClass]="{ active: fsDatePickerModel.components.calendarStart }">{{ formattedStartDate.date }}
    </div>
    <div
      (click)="onComponentsChange({ timeStart: true })"
      [ngClass]="{ active: fsDatePickerModel.components.timeStart }">{{ formattedStartDate.time }}
    </div>
  </ng-container>
  <ng-container *ngIf="formattedStartDate && formattedEndDate">&nbsp;-&nbsp;</ng-container>
  <ng-container *ngIf="formattedEndDate">
    <div
      (click)="onComponentsChange({ calendarStart: true, calendarEnd: true })"
      [ngClass]="{ active: fsDatePickerModel.components.calendarEnd }">{{ formattedEndDate.date }}
    </div>
    <div
      (click)="onComponentsChange({ timeEnd: true })"
      [ngClass]="{ active: fsDatePickerModel.components.timeEnd }">{{ formattedEndDate.time }}
    </div>
  </ng-container>
</div>
