<form fsForm>
  <mat-form-field>
    <input
      matInput
      fsDateRangeFrom="timerangepicker"
      [(ngModel)]="startDate"
      view="time"
      name="date_from"
      placeholder="Time Range From"
      fsFormRequired>
  </mat-form-field>

  <fs-date-range-separator></fs-date-range-separator>

  <mat-form-field>
    <input
      matInput
      fsDateRangeTo="timerangepicker"
      [(ngModel)]="endDate"
      view="time"
      name="date_to"
      placeholder="Time Range To"
      fsFormRequired>
  </mat-form-field>
</form>
