<form fsForm>
  <mat-form-field>
    <mat-label>Time Range From</mat-label>
        <input
      matInput
      fsTimeRangeFromPicker="timerangepicker"
      [(ngModel)]="startDate"
      (closed)="pickerClosed()"
      name="date_from"
      
      fsFormRequired>
  </mat-form-field>

  <fs-date-range-separator></fs-date-range-separator>

  <mat-form-field>
    <mat-label>Time Range To</mat-label>
        <input
      matInput
      fsTimeRangeToPicker="timerangepicker"
      [(ngModel)]="endDate"
      (closed)="pickerClosed()"
      name="date_to"
      
      fsFormRequired>
  </mat-form-field>
</form>
