<h1>FsDatepicker Examples</h1>
<div class="example">
    <fs-example title="Date Picker Example" componentName="date-example">
        <date-example></date-example>
    </fs-example>
</div>
<div class="example">
    <fs-example title="Time Picker Example" componentName="time-example">
        <time-example></time-example>
    </fs-example>
</div>
<div class="example">
    <fs-example title="Date Time Picker Example" componentName="datetime-example">
        <datetime-example></datetime-example>
    </fs-example>
</div>
