<h1>FsDatepicker Examples</h1>
<div class="example">
    <fs-example title="Date Picker Example" componentName="date-example">
        <date-example></date-example>
    </fs-example>
</div>
<div class="example">
    <fs-example title="Time Picker Example" componentName="time-example">
        <time-example></time-example>
    </fs-example>
</div>
<div class="example">
    <fs-example title="Date Time Picker Example" componentName="datetime-example">
        <datetime-example></datetime-example>
    </fs-example>
</div>
<div class="example">
  <fs-example title="Date Range Picker Example" componentName="daterange-example">
      <daterange-example></daterange-example>
  </fs-example>
</div>
<div class="example">
  <fs-example title="Time Range Picker Example" componentName="timerange-example">
      <timerange-example></timerange-example>
  </fs-example>
</div>
<div class="example">
  <fs-example title="Date Time Range Picker Example" componentName="datetimerange-example">
      <datetimerange-example></datetimerange-example>
  </fs-example>
</div>
