
<fs-examples [config]="config">
   <fs-example name="Date Picker Example" componentName="date-example">
      <date-example></date-example>
  </fs-example>

  <fs-example name="Time Picker Example" componentName="time-example">
      <time-example></time-example>
  </fs-example>

  <fs-example name="Time Picker with Only Hours Example" componentName="time-example">
    <only-hours-example></only-hours-example>
  </fs-example>

  <fs-example name="Date Time Picker Example" componentName="datetime-example">
    <datetime-example></datetime-example>
  </fs-example>

  <fs-example name="Date Range Picker Example" componentName="date-range-example">
    <date-range-example></date-range-example>
  </fs-example>

  <fs-example name="Date Time Range Picker Example" componentName="timerange-example">
    <date-time-range-example></date-time-range-example>
  </fs-example>

  <fs-example name="Time Range Picker Example" componentName="timerange-example">
    <timerange-example></timerange-example>
  </fs-example>

  <fs-example name="Week Picker Example" componentName="week-picker-example">
    <week-picker-example></week-picker-example>
  </fs-example>

  <fs-example name="Date Scroll Picker" componentName="date-scroll-picker">
      <date-scroll-picker></date-scroll-picker>
  </fs-example>

  <fs-example name="Birthday Scroll Picker" componentName="birthday-example">
    <birthday-example></birthday-example>
  </fs-example>

  <div fs-examples-install>
    <div class="examples-h2">Theme</div>
    <fs-example-highlight [source]="theme" language="scss"></fs-example-highlight>
  </div>
</fs-examples>
