:host .presets {
  display: block;
  float: left;
  margin: 8px 0 0;
  color: #a9acae; }
  :host .presets a {
    font-size: 13px;
    margin: 0 5px; }
    :host .presets a:first-child {
      margin-left: 0; }
    :host .presets a:last-child {
      margin-right: 0; }

@media only screen and (max-width: 499px) {
  :host .presets {
    float: left !important; } }
