<form fsForm>
  <mat-form-field>
    <mat-label>
      Date Range From
    </mat-label>
    <input
      matInput
      fsDateRangeFromPicker="daterangepicker"
      [(ngModel)]="startDate"
      name="date_from"
      fsFormRequired
      (closed)="pickerClosed()">
  </mat-form-field>
  <fs-date-range-separator></fs-date-range-separator>
  <mat-form-field>
    <mat-label>
      Date Range To
    </mat-label>
    <input
      matInput
      fsDateRangeToPicker="daterangepicker"
      [(ngModel)]="endDate"
      name="date_to"
      fsFormRequired
      (closed)="pickerClosed()">
  </mat-form-field>
</form>