<div class="fs-date-picker-container calendar-container">
  <fs-date-picker-header
    [calendarDate]="datePickerModel.calendarDate$ | async"
    [minYear]="datePickerModel.minYear"
    [maxYear]="datePickerModel.maxYear"
    [viewMode]="datePickerModel.calendarMode$ | async"
    [monthYearConfigurable]="false"
    [layout]="headerLayout"
    (goNextMonth)="nextMonth()"
    (goPrevMonth)="prevMonth()">
  </fs-date-picker-header>
  <fs-date-picker-calendar
    [date]="datePickerModel.model$ | async"
    [calendarDate]="datePickerModel.calendarDate$ | async"
    [dateMode]="datePickerModel.calendarMode$ | async"
    [disabledDays]="datePickerModel.disabledDays$ | async"
    [period]="datePickerModel.period"
    [seedDate]="datePickerModel.seedDate"
    [weekStartsOn]="datePickerModel.weekStartsOn"
    [periodWeeks]="datePickerModel.periodWeeks"
    [showToday]="today"
    [daySize]="daySize"
    [enabledDays]="enabledDates"
    [disabledDays]="disabledDays"
    (change)="dateChanged($event)">
  </fs-date-picker-calendar>
</div>
