<div class="fs-datetime-backdrop" [hidden]="!parentInstance.opened" (click)="close($event)"></div>

<div class="fs-datetime-dialog fs-datetime-range" tabindex="0"
[ngClass]="{ opened: parentInstance.opened,
  'has-date': (fsDatePickerModel.components.indexOf('calendar-start') !== -1 || fsDatePickerModel.components.indexOf('calendar-end') !== -1),
  'has-time': (fsDatePickerModel.components.indexOf('time-start') !== -1 || fsDatePickerModel.components.indexOf('time-end') !== -1) }">
  <div class="wrap">

    <fsDatePickerSummary
    [startDate]="parentInstance.ngModelStart"
    [endDate]="parentInstance.ngModelEnd"
    (componentsChange)="setComponents($event)"
    ></fsDatePickerSummary>

    <div class="date-time">
      <div class="date-range">
          <fsDatePickerCalendar
          *ngIf="fsDatePickerModel.components.indexOf('calendar-start') !== -1"
          [date]="parentInstance.ngModelStart"
          [dateToHighlight]="parentInstance.ngModelEnd"
          [dateMode]="fsDatePickerModel.dateMode.start_date"
          (onChange)="setStartDate($event)"
          (onDateModeChange)="setDateModeStart($event)"
          ></fsDatePickerCalendar>

          <fsDatePickerCalendar
          *ngIf="fsDatePickerModel.components.indexOf('calendar-end') !== -1"
          [date]="parentInstance.ngModelEnd"
          [dateToHighlight]="parentInstance.ngModelStart"
          [dateMode]="fsDatePickerModel.dateMode.end_date"
          [disabledDays]="toDisabledDays"
          (onChange)="setEndDate($event)"
          (onDateModeChange)="setDateModeEnd($event)"
          ></fsDatePickerCalendar>
      </div>

      <div class="time-range">
        <fsDatePickerTime
          *ngIf="fsDatePickerModel.components.indexOf('time-start') !== -1"
          [date]="parentInstance.ngModelStart"
          (onChange)="setStartDate($event)"
        ></fsDatePickerTime>
        <fsDatePickerTime
          *ngIf="fsDatePickerModel.components.indexOf('time-end') !== -1"
          [date]="parentInstance.ngModelEnd"
          [disabledTimes]="toDisabledTimes"
          (onChange)="setEndDate($event)"
        ></fsDatePickerTime>
      </div>

    </div>

    <div class="done">
      <button type="button" mat-raised-button color="primary" (click)="close($event)">Done</button>

      <div class="ranges">
        <button type="button" mat-button (click)="range('today')">Today</button>
        <button type="button" mat-button (click)="range('yesterday')">Yesterday</button>
        <button type="button" mat-button (click)="range('last_7')">Last 7 Days</button>
        <button type="button" mat-button (click)="range('last_30')">Last 30 Days</button>
        <button type="button" mat-button (click)="range('current_month')">This Month</button>
        <button type="button" mat-button (click)="range('last_month')">Last Month</button>
      </div>
    </div>

  </div>
</div>
