<div class="fs-datetime-backdrop" [hidden]="!parentInstance.opened" (click)="close($event)"></div>

<div class="fs-datetime-dialog fs-datetime-range dialog-view-{{ fsDatePickerModel.view }}" tabindex="0"
[ngClass]="{ opened: parentInstance.opened,
  'has-date': (fsDatePickerModel.components.calendarStart || fsDatePickerModel.components.calendarEnd),
  'has-time': (fsDatePickerModel.components.timeStart || fsDatePickerModel.components.timeEnd) }">
  <div class="wrap">

    <div class="header">
      <fsDatePickerSummary
      [startDate]="parentInstance.ngModelStart"
      [endDate]="parentInstance.ngModelEnd"
      (componentsChange)="setComponents($event)"
      ></fsDatePickerSummary>
      <fsDatePickerPresets
      *ngIf="!fsDatePickerModel.components.timeStart && !fsDatePickerModel.components.timeEnd"
      (datesChange)="onDatesChange($event)"
      ></fsDatePickerPresets>
    </div>

    <div class="date-time">
      <div class="date-range">
          <fsDatePickerCalendar
          *ngIf="fsDatePickerModel.components.calendarStart"
          [date]="parentInstance.ngModelStart"
          [dateToHighlight]="parentInstance.ngModelEnd"
          [dateMode]="fsDatePickerModel.dateMode.start_date"
          [drawMonth]="startCalendarMonth"
          (onChange)="setStartDate($event)"
          (onDateModeChange)="setDateModeStart($event)"
          (onDrawMonth)="startCalendarDrawMonth($event)"
          ></fsDatePickerCalendar>

          <fsDatePickerCalendar
          *ngIf="fsDatePickerModel.components.calendarEnd"
          [date]="parentInstance.ngModelEnd"
          [dateToHighlight]="parentInstance.ngModelStart"
          [dateMode]="fsDatePickerModel.dateMode.end_date"
          [disabledDays]="toDisabledDays"
          [drawMonth]="endCalendarMonth"
          (onChange)="setEndDate($event)"
          (onDateModeChange)="setDateModeEnd($event)"
          (onDrawMonth)="endCalendarDrawMonth($event)"
          ></fsDatePickerCalendar>
      </div>

      <div class="time-range">
        <fsDatePickerTime
          *ngIf="fsDatePickerModel.components.timeStart"
          [date]="parentInstance.ngModelStart"
          (onChange)="setStartTime($event)"
        ></fsDatePickerTime>
        <fsDatePickerTime
          *ngIf="fsDatePickerModel.components.timeEnd"
          [date]="parentInstance.ngModelEnd"
          [disabledTimes]="toDisabledTimes"
          (onChange)="setEndTime($event)"
        ></fsDatePickerTime>
      </div>

    </div>

    <div class="done">
      <button type="button" mat-raised-button color="primary" (click)="close($event)">Done</button>
    </div>
  </div>
</div>
