<div class="fs-datetime-backdrop" [hidden]="!parentInstance.opened" (click)="close($event)"></div>

<div class="fs-datetime-dialog fs-datetime-range" tabindex="0"
[ngClass]="{ opened: parentInstance.opened,
  'has-date': ['date', 'datetime'].indexOf(fsDatePickerModel.view) !== -1,
  'has-time': ['time', 'datetime'].indexOf(fsDatePickerModel.view) !== -1 }">
  <div class="wrap">

    <div class="date-time">
      <div class="date-range">
          <fsDatePickerCalendar
          [date]="model.start_date"
          [dateMode]="fsDatePickerModel.dateMode.start_date"
          (onChange)="setStartDate($event)"
          (onDateModeChange)="setDateModeStart($event)"
          ></fsDatePickerCalendar>

          <fsDatePickerCalendar
          [date]="model.end_date"
          [dateMode]="fsDatePickerModel.dateMode.end_date"
          (onChange)="setEndDate($event)"
          (onDateModeChange)="setDateModeEnd($event)"
          ></fsDatePickerCalendar>
      </div>

      <mat-tab-group class="time-range">
        <mat-tab label="START TIME">
          <fsDatePickerTime
            [date]="model.start_date"
            (onChange)="setStartDate($event)"
          ></fsDatePickerTime>
        </mat-tab>
        <mat-tab label="END TIME">
          <fsDatePickerTime
            [date]="model.end_date"
            (onChange)="setEndDate($event)"
          ></fsDatePickerTime>
        </mat-tab>
      </mat-tab-group>

    </div>
    <div *ngIf="['time', 'datetime'].indexOf(fsDatePickerModel.view) !== -1" class="done">
      <button mat-raised-button color="primary" (click)="close($event)">Done</button>
    </div>
  </div>
</div>
