<div *ngIf="formattedStartDate || formattedEndDate" class="summary" [ngClass]="{ 'summary-time': (fsDatePickerModel.components.timeStart || fsDatePickerModel.components.timeEnd) }">
  <ng-container *ngIf="formattedStartDate">
    <span
     *ngIf="(fsDatePickerModel.view === 'date' || fsDatePickerModel.view === 'datetime')"
      class="date"
      (click)="onComponentsChange({ calendarStart: true, calendarEnd: true })"
      [ngClass]="{ active: fsDatePickerModel.components.calendarStart }">{{ formattedStartDate.date }}
    </span>
    <span
      *ngIf="(fsDatePickerModel.view === 'time' || fsDatePickerModel.view === 'datetime')"
      class="time"
      (click)="onComponentsChange({ timeStart: true })"
      [ngClass]="{ active: fsDatePickerModel.components.timeStart }">{{ formattedStartDate.time }}
    </span>
  </ng-container>
  <ng-container *ngIf="formattedStartDate && formattedEndDate"><span class="hyphen">-</span></ng-container>
  <ng-container *ngIf="formattedEndDate">
    <span
      *ngIf="(fsDatePickerModel.view === 'date' || fsDatePickerModel.view === 'datetime')"
      class="date"
      (click)="onComponentsChange({ calendarStart: true, calendarEnd: true })"
      [ngClass]="{ active: fsDatePickerModel.components.calendarEnd }">{{ formattedEndDate.date }}
    </span>
    <span
      *ngIf="(fsDatePickerModel.view === 'time' || fsDatePickerModel.view === 'datetime')"
      class="time"
      (click)="onComponentsChange({ timeEnd: true })"
      [ngClass]="{ active: fsDatePickerModel.components.timeEnd }">{{ formattedEndDate.time }}
    </span>
  </ng-container>
</div>
