
.summary {
  font-size: 15px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #efefef;
  display: flex;
  flex-direction: row;

  .date,
  .time {
    cursor: pointer;
    display: inline;
    padding: 2px;
    border-radius: 3px;
    line-height: 40px;
  }

  .summary-to {
    margin: 0 2px;
  }

  .summary-start, .summary-end {
    display: flex;
    flex: 1;
    justify-content: center;
  }
}

@media only screen and (max-width: 499px) {
  .summary, .summary * {
    font-size: 3.75vw;
  }
}
