:host {
  .summary {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-bottom: 1px solid #efefef;

    .date,
    .time {
      cursor: pointer;
      display: inline-block;
      padding: 5px;
      border-radius: 3px;
    }

    .time {
      margin: 0 3px;
    }

    .hyphen {
      margin: 0 2px;
    }
  }
}

@media only screen and (max-width: 499px) {
  .summary {
    // font-size: 13px !important;
  }
}
