<div class="summary">
  <ng-container *ngIf="formattedStartDate">
    <div
      (click)="onComponentsChange(['calendar-start', 'calendar-end'])"
      [ngClass]="{ active: fsDatePickerModel.components.indexOf('calendar-start') !== -1 }">{{ formattedStartDate.date }}
    </div>
    &nbsp;
    <div
      (click)="onComponentsChange(['time-start'])"
      [ngClass]="{ active: fsDatePickerModel.components.indexOf('time-start') !== -1 }">{{ formattedStartDate.time }}
    </div>
  </ng-container>
  <ng-container *ngIf="formattedEndDate">
    &nbsp;-&nbsp;
    <div
      (click)="onComponentsChange(['calendar-start', 'calendar-end'])"
      [ngClass]="{ active: fsDatePickerModel.components.indexOf('calendar-end') !== -1 }">{{ formattedEndDate.date }}
    </div>
    &nbsp;
    <div
      (click)="onComponentsChange(['time-end'])"
      [ngClass]="{ active: fsDatePickerModel.components.indexOf('time-end') !== -1 }">{{ formattedEndDate.time }}
    </div>
  </ng-container>
</div>
