<div class="fs-date-picker-backdrop" [hidden]="!parentDirective.opened" (click)="close($event)"></div>

<div class="fs-date-picker-dialog {{ 'dialog-view-' + fsDatePickerModel.view }}" tabindex="0"
[ngClass]="{ opened: parentDirective.opened,
  'has-view-date': fsDatePickerModel.view === 'date' || fsDatePickerModel.view === 'datetime',
  'has-view-time': fsDatePickerModel.view === 'time' || fsDatePickerModel.view === 'datetime',
  'date-mode-date': fsDatePickerModel.dateMode === 'date',
  'date-mode-month': fsDatePickerModel.dateMode === 'month',
  'date-mode-year': fsDatePickerModel.dateMode === 'year'
 }">
  <div class="wrap">

    <div *ngIf="fsDatePickerModel.view === 'datetime'" class="header">
      <fs-date-picker-summary
        [startDate]="model"
        [range]="false"
        (componentsChange)="setComponents($event)"></fs-date-picker-summary>
    </div>

    <div class="date-time">
      <fs-date-picker-calendar
        *ngIf="fsDatePickerModel.components.calendarStart"
        [date]="model"
        [drawMonth]="calendarMonth"
        [dateMode]="fsDatePickerModel.dateMode"
        [disabledDays]="disabledDays"
        (onChange)="setDate($event)"
        (onDateModeChange)="setDateMode($event)"
        (onDrawMonth)="calendarDrawMonth($event)"
      ></fs-date-picker-calendar>

      <fs-date-picker-time
        *ngIf="fsDatePickerModel.components.timeStart"
        [date]="model"
        (onChange)="setDate($event)"
      ></fs-date-picker-time>
    </div>

    <div class="done">
      <button type="button" mat-raised-button color="primary" (click)="close($event)">Done</button>
      <!-- <button type="button" mat-raised-button (click)="clear($event)">Clear</button> -->
    </div>
  </div>
</div>
