<div class="fs-datetime-backdrop" [hidden]="!parentInstance.opened" (click)="close($event)"></div>

<div class="fs-datetime-dialog" tabindex="0"
[ngClass]="{ opened: parentInstance.opened,
  'has-date': ['date', 'datetime'].indexOf(fsDatePickerModel.view) !== -1,
  'has-time': ['time', 'datetime'].indexOf(fsDatePickerModel.view) !== -1,
  'view-year': fsDatePickerModel.dateMode=='year',
  'view-month': fsDatePickerModel.dateMode=='month',
  'view-date': fsDatePickerModel.dateMode=='date' }">
  <div class="wrap">

    <div class="date-time">
      <fsDatePickerCalendar
        [date]="model"
        (onChange)="setDate($event)"
      ></fsDatePickerCalendar>

      <fsDatePickerTime
        [date]="model"
        (onChange)="setDate($event)"
      ></fsDatePickerTime>

    </div>
    <div *ngIf="['time', 'datetime'].indexOf(fsDatePickerModel.view) !== -1" class="done">
      <button mat-raised-button color="primary" (click)="close($event)">Done</button>
    </div>
  </div>
</div>
