
@mixin headingContainer {
  .heading-container {
    padding: 14px 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 115%;
  }
}

@mixin navAction {
  .nav-action {    
    display: flex;
    align-items: center;
  }
}

@mixin heading {
  .heading {
    padding: 5px 6px;
    background: #fff;
    font-weight: normal;
    font-size: 12px;
    color: #828282;
    text-transform: uppercase;
    font-size: 80%;
    text-align: center;
  }
}