@import 'node_modules/@firestitch/style/variables';

$selected-color: $palette !default;
$selected-color-opacity: .3 !default;

$hover-color: $palette !default;
$hover-color-opacity: 0.3;

$now-color: $palette !default;
$now-color-opacity: 0.5 !default;


