.fs-datetime-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  outline: none;
  overflow: visible;
  background: none !important;

  &[hidden] { display: none !important; }
}

.fs-datetime-range.has-view-date.has-view-time {
    .summary .date,
    .summary .time {
      
    }
}

.fs-datetime-dialog {
	position: fixed;
  z-index: 80;
  display: none;
  visibility: hidden;
  display: block;
  // margin-top: 20px;

  a {
    text-decoration: none;
    cursor: pointer;
  }

  &.opened {
    visibility: visible;
  }

  * {
    user-select: none;
  }

  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }

  fsDatePickerCalendar {
    /* Need for year view */
    // width: 100%;
    display: flex;
    flex: 1;
  }

  .wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    width: 373px;
    padding: 0 !important;
    &:focus {
      outline: none;
    }
    &:active {
      outline: none;
    }
    /*
    @TODO in scope of presets
    .header {
      padding: 0 15px;
      // Don't use flex. Strange behaviour of scroll
      display: table;
      width: 100%;
      box-sizing: border-box;
    }
    */
  }

  &.has-time {
    height: 100%;
    max-height: 472px;
    .wrap {
      .date-time {
        overflow-y: auto;
      }
    }
  }

  &.fs-datetime-range {
    &.has-date {

      .wrap {
        width: 744px;
        /*
        @TODO in scope of presets
        .header {
          fsdatepickerpresets .presets {
            float: right;
          }
        }
        */
        .date-range {
          display: flex;
          flex: 1;
          fsdatepickercalendar:first-child {
            margin-right: 5px;
          }
          td.day:not(.disabled):not(.mute) {
            &.min-date {
              &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                border-color: transparent;
                border-style: solid;
                border-width: 0.5em;
                border-left-color: #fff;
                border-top-color: #fff;
              }
            }
            &.max-date {
              &::after {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                border-color: transparent;
                border-style: solid;
                border-width: 0.5em;
                border-left-color: #fff;
                border-top-color: #fff;
                -moz-transform: scale(-1, -1);
                -webkit-transform: scale(-1, -1);
                -o-transform: scale(-1, -1);
                -ms-transform: scale(-1, -1);
                transform: scale(-1, -1);
              }
            }
          }
        }
      }
    }
    &:not(.has-date) {
      .date-range {
        display: none;
      }
    }
  }

  /* triangle above dialog */
  /*
  &:not(.vertical-reposition) {
    &:not(.horizontal-reposition) {
      .wrap {
        &:after, &:before {
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 19px solid #fff;
          top: -19px;
          content: '';
          left: 50%;
          position: absolute;
          transform: rotate(180deg);
          left: 23px;
        }
        &:before {
          border-left: 23px solid transparent;
          border-right: 23px solid transparent;
          border-top: 21px solid transparent;
          border-top-color: #efefef;
          top: -21px;
          left: 20px;
        }
      }
    }
  }
  */

  .calendar-container::-webkit-scrollbar,
  .years::-webkit-scrollbar {
    display: none;
  }

  .inline-date {
    padding: 10px;
    width: 100%;
  }

  .gap {
    display: flex;
    flex: 1;
  }

  .month-year {
    height: 60px;
	  padding: 0 10px;
	  display: flex;
    flex-direction: row;
    align-items: center;

    .actions {
      text-align: right;
      a {
        padding: 6px;
        color: #757575;
      }
    }

    .more {
      padding: 1px;
    }
  }

  .year-name, .month-name {
    color: inherit;
    padding: 5px;
    border-radius: 3px;
    float: left;
  }

  .day {
    position: relative;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #efefef;
    outline: none;

    &:not(.blank) {
      cursor: pointer;
    }

    .today {
      color: #555555;
      font-size: 8px;
      position: absolute;
      bottom: 3px;
      left: 0;
      width: 100%;
      height: auto;
      line-height: normal;
    }

    &.selected {
      .today {
        color: #fff;
      }
    }

    &.mute {
      color: #d7d7d7;
    }

    span {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  table {
    border-collapse: collapse;
    thead {
      th {
        width: 50px;
        vertical-align: top;
        padding-bottom: 20px;
        text-align: center;
        border: 1px solid transparent;
        background: #fff;
        border-bottom: 1px solid #efefef;
        border-top: 1px solid #fff;

        font-weight: normal;
        font-size: 12px;
        color: #4d4d4d;
      }
    }
  }

  fs-datetime {
    .lbl {
      font-weight: normal;
      font-size: 12px;
      color: #4d4d4d;
    }
  }

  fsdatepickercalendar {
    min-height: 350px;
  }
  .calendar-container {
    // overflow-y: auto;
    // overflow-x: hidden;
    width: 100%;
    position: relative;
	  min-height: 350px;
	  flex: 1 1 45%;
  }

  .calendar-container .day.selected,
  .calendar-container .years .year.selected,
  .calendar-container .months .month.selected,
  .time-container .hour.selected,
  .time-container .minute.selected {
    background: #4678AE;
	  color: #fff;
  }

  .time-container .hour.disabled,
  .time-container .minute.disabled,
  .calendar-container .day.disabled {
    color: #a6a5a5;
    cursor: initial;
    background: #efefef;
  }

  .years {
    position: absolute;
    width: 100%;
    max-height: 100%;
    height: 100vh;
    overflow: hidden;
    .year {
      float: left;
      width: 25%;
      text-align: center;
      height: 65px;
      border-left: 1px solid #efefef;
      border-bottom: 1px solid #efefef;
      line-height: 65px;
      outline: none;
      cursor: pointer;
      box-sizing: border-box;
      &.row {
        clear: both;
      }
      /*
      &.today {
        border: 1px solid #4678AE;
        border-style: double;
      }
      */
      &:nth-last-child(-n+4) {
        border-bottom: 1px solid #efefef;
      }
      &:nth-child(4n+0) {
        border-right: 1px solid #efefef;
      }
    }
  }

  .date-time {
    flex-direction: row;
    display: flex;
  }

  .months {
    width: 100%;
    height: 100%;
    position: absolute;
    .month {
      height: 25%;
      width: 33.33%;
      float: left;
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      border-left: 1px solid #efefef;
      border-top: 1px solid #efefef;
      cursor: pointer;
      outline: none;
      border-bottom: 0;
      border-right: 0;
      min-height: 80px;
      box-sizing: border-box;
      &:nth-child(-n+3) {
        border-top: 0;
      }
      &:nth-child(3n+0) {
        border-right: 1px solid #efefef;
      }
      /*
      &.today {
        border: 1px solid #4678AE;
        border-style: double;
      }
      */
    }
  }

  .iscroll-scroller {
    position: absolute;
    width: 100%;
  }

  .clear {
    clear: both;
  }

  .close {
    padding: 5px;
    display: none;
  }

  fs-tabnav {
    display: none;
    .md-tabs a {
      width: 50%;
    }
  }

  .done {
    background: #fff;
    width: 100%;
    border-top: 1px solid #E1E1E1;
    margin-top: auto;
    button {
      padding-left: 10px;
      padding-right: 10px;
      padding: 0 6px;
      margin: 6px 8px;
    }
  }
}

@media only screen and (min-width: 500px) {

  .fs-datetime-dialog {
    .calendar-container {
      display: flex !important;
    }

    .time-container .hour:hover:not(.disabled):not(.selected),
    .time-container .minute:hover:not(.disabled):not(.selected),
    .calendar-container .day:hover:not(.disabled):not(.selected):not(.blank),
    .calendar-container .years .year:hover:not(.disabled):not(.selected),
    .calendar-container .months .month:hover:not(.disabled):not(.selected),
    .calendar-container .year-name:hover:not(.disabled):not(.selected),
    .calendar-container .month-name:hover:not(.disabled):not(.selected) {
      background: rgba(70,120,174,.15);
    }

    &.has-view-time {
      .summary .date:hover,
      .summary .time:hover,
      .summary .date.active,
      .summary .time.active {
        background: rgba(70,120,174,.15);
      }
    }
  }
}

@media only screen and (max-width: 744px) {
  .fs-datetime-dialog {
    
    &.fs-datetime-range {
      &.has-view-date {
        .wrap {
          width: 100%;
        }

        .date-range {
          flex-direction: column;
          height: 100%;
          fs-date-picker-calendar:first-child {
            margin-right: 0 !important;
          }
        }
        .date-time {
          overflow-y: auto;
        }        
      }
    }
  }
}

 

@media only screen and (max-width: 499px) {
  .fs-datetime-dialog {
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0px !important;
    margin: 0px;
    height: 100vh;
    max-height: initial !important;

    // 2 cases when Done button is hidden and dialog height increasing
    &:not(.fs-datetime-range) {
      &.dialog-view-date {
        .wrap {
          height: 100% !important;
          .date-time {
            height: 100% !important;
          }
        }
      }
      &.dialog-view-datetime {
        &:not(.date-mode-date) {
          .wrap {
            height: 100% !important;
            .date-time {
              height: 100% !important;
            }
          }
        }
      }
    }

    .wrap {
    	margin: 0px;
    	width: 100% !important;
      height: calc(100vh - 50px);
      .date-time {
        height: calc(100% - 50px);
      }
    }

    .day {
      width: 14.28%;
      height: 40px;
    	line-height: 40px;
    }
    table {
	    width: 100%;
    }
    .close {
      display: flex;
    }
    .done {
      position: fixed;
      bottom: 0;
    }
    fs-tabnav {
      display: block;
    }
  }
}

