:host {
  margin: 0 auto;
}

.time-container {
  padding: 12px 15px;

  .wraper {
    flex-direction: row;
    display: flex;
    align-items: start;
  }

  .hours-group {
    display: flex;
    flex-direction: column;
  }

  .hours {
    height: 100%;
    table {
      border-collapse: collapse;
      width: 100%;
    }
  }

  .hour {
    .number {
      // font-size: 12px;
      &.textual {
        font-size: 11px;
      }
    }

    .am-pm {
      font-size: 9px;
      margin-left: 1px;
    }
  }

  .minutes {
    height: 100%;
    margin-left: 35px;

    table {
      border-collapse: collapse;
      width: 100%;
    }

    .button-expand {
      display: block;
      text-align: center;
      margin-top: 5px;
    }
  }

  .lbl {
    margin-bottom: 2px;
    font-size: 12px;
  }

  .hour, .minute {
    // width: 31px;
    // height: 31px;
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px	solid #efefef;
    padding: 0;
    cursor: pointer;
    .number {
      border: 1px solid transparent;
      border-radius: 50%;
      line-height: 28px;
      height: 28px;
    }
  }
}

@media only screen and (min-width: 500px) {
  .time {
    display: flex !important;
  }
}

@media only screen and (max-width: 499px) {
  .time {
    margin: 0 auto;
  }
}
